<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.mapping.LandslideRecordMapper">
    <sql id="BASE_TABLE">
        landsliderecord
    </sql>

    <sql id="BASE_COLUMN">
        idLandslideRecord,disasterID,location,disasterDate,disasterType,status,note,reportingUnit
    </sql>

    <insert id="insert" parameterType="com.ch.model.LandslideRecord">
        insert into
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            disasterID,location,disasterDate,disasterType,status,note,reportingUnit
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{disasterID,jdbcType=CHAR},#{location,jdbcType=VARCHAR},#{disasterDate,jdbcType=VARCHAR},
            #{disasterType,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{note,jdbcType=VARCHAR},
            #{reportingUnit,jdbcType=VARCHAR}
        </trim>
    </insert>
</mapper>